<div class=cp></div>
<div class=cg></div>
<div class="cg l"></div>
<div class=rect></div>
<style>
  body {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#F5D6B4
  }
  .cp {
    width: 50px;
    height: 50px;
    background: #dd6b4d;
    position:fixed;
    background: #D86F45;
    bottom: 85;
    right:100;
    border-radius: 50%;
  }
  .cg{
    width: 100;
    height:100;
    background:#D86F45;
    border-radius: 50%;
    position: fixed;
    right:120;
    top: 85
  }
  .l{
    left:100;
    top:115;
  }
  .rect{
    width: 120;
    height:47;
    position:fixed;
    background:#D86F45;
    bottom:85;
    left:155
  }
</style>